@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

*{
  @apply box-border m-0 p-0 ;
}
/* Global reset or normalize styles */
body {
  @apply bg-light-background text-light-text dark:bg-dark-background dark:text-dark-text m-0 p-0 overflow-x-hidden max-w-full;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Smooth transitions */
}

/* Ensure buttons and inputs also respect dark mode */
button,
input,
textarea {
  @apply bg-light-background dark:bg-dark-background text-light-text dark:text-dark-text;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Customize global link styles */
a {
  @apply text-light-accentPrimary dark:text-dark-accentPrimary;
  transition: color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-light-text dark:text-dark-text;
}

p {
  @apply text-light-text dark:text-dark-text;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
